<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="mainContainer">
    <div class="topContainer">
        <h1>Login</h1>
    </div>
    <hr>
    <p id="errorMessage" th:text="${error}"></p>
    <br>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <div class="tableContainer">
            <table>
                <tr>
                    <td><input type="text" th:field="*{username}" autocomplete="off" placeholder="Username" required></td>
                </tr>
                <tr>
                    <td><input type="password" th:field="*{password}" autocomplete="off" placeholder="Password" required></td>
                </tr>
                <tr>
                    <td>
                        <br><button type="submit">Login</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>New member? <a href="/signup">Sign up.</a></p>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>