<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/}" th:object="${User}" method="post">
        <table>
            <tr>
                <td>First name</td>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" th:field="*{username}"></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" th:field="*{password}"></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Sign Up</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>