<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="mainContainer">
    <div class="topContainer">
        <h1>Create an account</h1>
    </div>
    <hr>
    <p id="errorMessage" th:text="${error}"></p>
    <br>
    <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
        <div class="tableContainer">
            <table>
                <tr>
                    <td><input type="text" th:field="*{firstName}" autocomplete="off" placeholder="First name" required></td>
                </tr>
                <tr>
                    <td><br><input type="text" th:field="*{username}" autocomplete="off"
                               placeholder="Username" minlength="4" required></td>
                </tr>
                <tr>
                    <td><input type="password" th:field="*{password}" autocomplete="off"
                               placeholder="Password" minlength="6" required></td>
                </tr>
                <tr>
                    <td>
                        <br><button type="submit">Sign Up</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Already have an account? <a href="/login">Login here.</a></p>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>